/*cvicenie bootstrap*/
/*.square{
    width:5rem;
    height: 5rem;
}

.square.red{
    background-color: red;
    width: 100%;
}

.square.black{
    background-color: black;
    width: 100%;
}

.square.blue{
    background-color: blue;
    width: 100%;
}

.square.green{
    background-color: green;
    width: 100%;
}*/

/*@media only screen and (min-width: 768px) {
    .pie {
        width: 400px;
    }
}*/







